<p>
  <strong>Any amount will be appreciated and used to support running CryptoBuzz. Thank you! :)</strong>
</p>

<strong>BTC:</strong> 16u7jbtVt1JAbu4eT7iBmVey7EfyZe9E2w
<br/><br/>
<strong>LTC:</strong> LWsvG4NtzBGe7nb8pcd3Ai8dkvDmSoXYpi
<br/><br/>
<strong>ETH:</strong> 0xd4336e4b65f93d8158d1a2b123e57679231715bf
